{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">
            <b>Choose two files</b>
            <div>
                <label for="file1">Choose file1: </label>
                <input type="file" id="file1" name="file1" accept="text/plain, text/html, .c, .cpp, .js, .py, .aspx, .asp, .css, .xml, .php, .jsp, .java, .csv, .doc, .docx, .ts, .tsx, .md, .yml, .yaml, .gitignore" required>
            </div>

            <div>
                <label for="file2">Choose file2: </label>
                <input type="file" id="file2" name="file2" accept="text/plain, text/html, .c, .cpp, .js, .py, .aspx, .asp, .css, .xml, .php, .jsp, .java, .csv, .doc, .docx, .ts, .tsx, .md, .yml, .yaml, .gitignore" required>
            </div>

            <b>Choose the comparing algorithm</b>

            <div>
                <input type="radio" name="algorithm" id="lines" value="lines" checked>
                <label for="lines">Compare line by line</label>
            </div>

            <div>
                <input type="radio" name="algorithm" id="sentences" value="sentences">
                <label for="sentences">Compare by english sentences</label>
            </div>

            <div>
                <input type="radio" name="algorithm" id="substrings" value="substrings">
                <label for="substrings">Compare by substrings of length</label>
                <input type="number" name="length" placeholder="enter substring length">
            </div>

            <div>
                <button type="submit">Submit and let's compare</button>
            </div>
        </form>
    </div>

{% endblock %}
